body {
    margin: 0;
    padding: 0;
    background-color: #FFE194;
}

.header {
    background-color: #1B9C85;
    padding: 1px;
    color: #E8F6EF;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.box {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: baseline;
}
.input {
    background-color: #4C4C6D;
    margin: 10px;
    padding: 10px;
    font-family: cursive;
    color: #E8F6EF;
    border-radius: 5px;
    box-shadow: 5px 7px rgb(49, 49, 49);
    border: 2px dashed #E8F6EF;
    width: 400px;
    text-align: center;
}
.button .but {
    background-color: #4C4C6D;
    padding: 10px;
    margin: 10px;
    font-family: cursive;
    color: #E8F6EF;
    border-radius: 10px;
    width: 100px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    box-shadow: 0 9px #999;
}
.but:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.box2 {
    display: flex;
    padding: 10px;
    justify-content: center;
}
.tot, .rata, .lulus {
    background-color: #4C4C6D;
    margin: 10px;
    padding: 10px;
    font-family: cursive;
    color: #E8F6EF;
    border-radius: 5px;
    box-shadow: 5px 7px rgb(49, 49, 49);
    width: 300px;
    height: 100px;
    text-align: center;
    border: 2px dashed #E8F6EF;
}